// Background
$main-bg: hsl(219, 26%, 22%);
$soft-bg: hsl(220, 21%, 28%);
$dark-bg: hsl(219, 28%, 18%);

// Text color
$main-color: hsl(0, 0%, 100%);
$soft-color: hsl(0, 0%, 87%);
$dark-color: hsl(219, 26%, 22%);